splits/part0016 filter=lfs diff=lfs merge=lfs -text
splits/part0005 filter=lfs diff=lfs merge=lfs -text
splits/part0006 filter=lfs diff=lfs merge=lfs -text
splits/part0009 filter=lfs diff=lfs merge=lfs -text
splits/part0012 filter=lfs diff=lfs merge=lfs -text
splits/part0013 filter=lfs diff=lfs merge=lfs -text
splits/part0004 filter=lfs diff=lfs merge=lfs -text
splits/part0007 filter=lfs diff=lfs merge=lfs -text
splits/part0010 filter=lfs diff=lfs merge=lfs -text
splits/part0003 filter=lfs diff=lfs merge=lfs -text
splits/part0008 filter=lfs diff=lfs merge=lfs -text
splits/part0011 filter=lfs diff=lfs merge=lfs -text
splits/part0014 filter=lfs diff=lfs merge=lfs -text
splits/part0015 filter=lfs diff=lfs merge=lfs -text
splits/part0001 filter=lfs diff=lfs merge=lfs -text
splits/part0002 filter=lfs diff=lfs merge=lfs -text
splits2/part0001 filter=lfs diff=lfs merge=lfs -text
splits2/part0002 filter=lfs diff=lfs merge=lfs -text
splits2/part0005 filter=lfs diff=lfs merge=lfs -text
splits2/part0023 filter=lfs diff=lfs merge=lfs -text
splits2/part0030 filter=lfs diff=lfs merge=lfs -text
splits2/part0008 filter=lfs diff=lfs merge=lfs -text
splits2/part0024 filter=lfs diff=lfs merge=lfs -text
splits2/part0026 filter=lfs diff=lfs merge=lfs -text
splits2/part0033 filter=lfs diff=lfs merge=lfs -text
splits2/part0006 filter=lfs diff=lfs merge=lfs -text
splits2/part0007 filter=lfs diff=lfs merge=lfs -text
splits2/part0022 filter=lfs diff=lfs merge=lfs -text
splits2/part0036 filter=lfs diff=lfs merge=lfs -text
splits2/part0029 filter=lfs diff=lfs merge=lfs -text
splits2/part0003 filter=lfs diff=lfs merge=lfs -text
splits2/part0009 filter=lfs diff=lfs merge=lfs -text
splits2/part0011 filter=lfs diff=lfs merge=lfs -text
splits2/part0014 filter=lfs diff=lfs merge=lfs -text
splits2/part0018 filter=lfs diff=lfs merge=lfs -text
splits2/part0021 filter=lfs diff=lfs merge=lfs -text
splits2/part0004 filter=lfs diff=lfs merge=lfs -text
splits2/part0010 filter=lfs diff=lfs merge=lfs -text
splits2/part0031 filter=lfs diff=lfs merge=lfs -text
splits2/part0032 filter=lfs diff=lfs merge=lfs -text
splits2/part0013 filter=lfs diff=lfs merge=lfs -text
splits2/part0015 filter=lfs diff=lfs merge=lfs -text
splits2/part0017 filter=lfs diff=lfs merge=lfs -text
splits2/part0025 filter=lfs diff=lfs merge=lfs -text
splits2/part0027 filter=lfs diff=lfs merge=lfs -text
splits2/part0035 filter=lfs diff=lfs merge=lfs -text
splits2/part0012 filter=lfs diff=lfs merge=lfs -text
splits2/part0016 filter=lfs diff=lfs merge=lfs -text
splits2/part0020 filter=lfs diff=lfs merge=lfs -text
splits2/part0019 filter=lfs diff=lfs merge=lfs -text
splits2/part0028 filter=lfs diff=lfs merge=lfs -text
splits2/part0034 filter=lfs diff=lfs merge=lfs -text
splits2/part0037 filter=lfs diff=lfs merge=lfs -text
